html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

p {
  line-height: 1.4;
}
/*generic container language*/
.container {
  width: 960px;
  margin: 0 auto;
}
/*css relating to the banner and top navigation bar.*/
.banner {
  display: flex;
  flex-direction: column;
  background-image: url("../media/glasses-bg.png");
  background-size: cover;
  height: 31rem;
}

.topbar {
  display: flex;
  align-items:center;
  color: white;
  background-color: cadetblue;
  width: 100%;
  margin-top: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.logo img {
  height: 1.5rem;
}

.company {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  width: 100%;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
}

.nav li {
  display: inline-flex;
  padding-right: 2rem;
}

.navmenu {
  display: none;
  text-align: right;
  padding-right: 2rem;
  width: 100%;
}

/*css relating to the slogan in the banner.*/
.slogan {
  display: inline-block;
  float: right;
  color: black;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  width: auto;
}
/*css relating to the company offerings*/
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 27rem;
  height: 8rem;
  margin: 3rem auto;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
}

.exam img {
  width: 3.5rem;
}

.fitting img {
  width: 4.5rem;
}

.delivery img {
  width: 4.5rem;
}

.box p {
  text-align: center;
}
/*css relating to the philosophy and appointments textboxes*/
.phil-app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%; /*I like how this looks*/
  margin: 0 auto;
}

.phil-app-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 44%;
}

.phil-app-head {
  display: block;
  color: white;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}
/*css relating to the footer*/
.footer {
  display: flex;
  flex-direction: row;
  background-color: azure;
  padding: 4rem 2rem;
  margin-top: 5rem;
}
/*responsive design for medium sized screens*/
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .banner {
    width: 100%;
    height: 22rem;
    background-position-x: -10rem;
  }
  .topbar {
    margin-top: 0;
  }
  .slogan {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}

/*responsive design for small screens*/
@media only screen and (max-width: 640px) {
  .banner {
    height: 17rem;
    background-position: 20%;
  }
  .nav {
    display: none;
  }
  .navmenu {
    display: block;
    text-align: right;
    padding-right: 2rem;
    width: min-content;
  }
  .slogan {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 9rem;
    margin-right: 0;
    text-align: center;
  }
  .products {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 1.77rem;
    height: auto;
  }
  .box p {
    font-size: 0.77rem;
    margin-top: 1.54rem;
    margin-bottom: 1rem;
  }
  .phil-app {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .phil-app-box {
    width: 99%;
    margin-bottom: 4rem;
  }
  .phil-app-head {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
  .phil-app p {
    font-size: 0.77rem;
  }
  .footer {
    justify-content: center;
    margin-top: 1.33rem;
  }
  .footer .logo {
    padding-left: 0;
  }
  .footer .company {
    display: none;
    }
  }
}
